@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    background-color: $secondary-color;
}

#root,
.app {
    height: 100%;
    width: 100%;
    &::-webkit-scrollbar {
        width: 0.1rem;
        background-color: #111;
    }
}

.app {
    @media screen and (max-width: $lg) {

        &::-webkit-scrollbar {
            display: none;
        }
    }

}

.react-icons{
    height: 1.5rem;
    width: 1.5rem;
}